.idea/**/workspace.xml
.idea/**tasks.xml
.idea/dictionaries

.idea/**dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSoueces.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

.idea/**/gradle.xml

cmake-build-debug/

.idea/**/mongoSettings.xml

*.iws

out/

.idea_modules

.idea/replstate.xml
