.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: black;
}

.bill_container {
    -fx-background-color: #b4fbae;
    -fx-padding: 10px;
}

.text-field {
    -fx-border-color: #1d1d1d;
    -fx-border-width: 0.5px;
}

.combo-box {
    -fx-border-color: #1d1d1d;
    -fx-border-width: 0.5px;
}

#search_bill_table .table-cell {
    -fx-alignment: CENTER;

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em;
}

.table-view .column-header {
    -fx-background-color: #1d1d1d;
    -fx-border-color: #ffffff;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#search_bill_table .table-cell {
    -fx-alignment: CENTER;

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em;

    -fx-background-color: #000040;
    -fx-cell-size: 2.0em;
    -fx-text-fill: #ffffff;
}

.table-view .column-header{
    -fx-background-color: #00110f;
    -fx-border-color: #ffffff;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}