.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: black;
}

.bill_container {
    -fx-background-color: #b4fbae;
    -fx-padding: 10px;
}

.text-field {
    -fx-border-color: #1d1d1d;
    -fx-border-width: 0.5px;
}

.combo-box {
    -fx-border-color: #1d1d1d;
    -fx-border-width: 0.5px;
}